<h2><%= @product.name %></h2>
<p><%=  @product.description %></p>
<p>average rating: <%= @product.avg_rating %></p>
<table>
	<tr>
		<th>Rating</th>
		<th>Comment</th>
	</tr>
	<% @product.reviews.each do |r|  %>
		<tr>
			<td><%= r.rating %></td>
			<td><%= r.comment %></td> 
		</tr>
	<% end %>
</table>

<%= link_to('Add review', new_product_review_path(@product)) %>

<%  %>
<%  %>

